# Python requirements for unit tests
-r ../requirements.txt
unittest2
webtest
coveralls
nose-cov
coverage
nose
pylint
pep8
pep257
uwsgi
# alignak
-e git+git://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak
# alignak_backend
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@Improve_cfg_to_backend#egg=alignak_backend