configparser
docopt
Bottle>=0.12.8,<0.13
Beaker==1.8.0
CherryPy
pymongo>=3.2
requests>=2.9.1
setproctitle>=1.1.8
python-gettext
termcolor
python-dateutil==2.4.2
pytz
uwsgi
# alignak_backend_client
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend-client.git@status_post_files#egg=alignak_backend_client
