future
configparser
docopt
Bottle>=0.12.9,<0.13
Beaker==1.9.0
CherryPy<9.0.0
pymongo>=3.2
requests>=2.9.1
python-gettext
termcolor
python-dateutil>=2.4.2
pytz
# uWSGI server
uwsgi
# alignak_backend and alignak_backend_client
alignak-backend
alignak-backend-client
