/*  Flat color palette downloaded from
 *  http://htmlcolorcodes.com/color-charts/
 *
 * Items states classes used to colour icons ...
 */

/* Teals */
.turquoise { color: #1abc9c; }
.item_user,
.green-sea { color: #16a085; }

/* Greens */
.item_active,
.emerald { color: #2ecc71; }
.item_open,
.sla_hosts_ok,
.sla_services_ok,
.item_alignakdaemon_up,
.item_host_up,
.item_host_ok,
.item_service_ok,
.item_logcheckresult_up,
.item_logcheckresult_ok,
.item_hostgroup_ok,
.item_realm_ok,
.nephritis { color: #27ae60; }

/* Blues */
.peter-river { color: #3498db; }
.item_unknown,
.item_service_unknown,
.item_logcheckresult_unknown,
.belize-hole { color: #2980b9; }

/* Purples */
.item_hostgroup_unreachable,
.item_realm_unreachable,
.item_alignakdaemon_unreachable,
.item_logcheckresult_unreachable,
.item_host_unreachable,
.item_service_unreachable,
.item_historyWebuiComment,
.item_historyCheckRequest,
.item_historyCheckRequested,
.amethyst { color: #9b59b6; }
.sla_hosts_problems,
.sla_services_problems,
.wisteria { color: #8e44ad; }

/* Blacks */
.item_command,
.item_timeperiod,
.wet-asphalt { color: #34495e; }
.midnight-blue { color: #2c3e50; }

/* Yellows */
.item_historyCheckResult,
.item_host_in_downtime,
.item_host_downtimed,
.item_service_in_downtime,
.item_service_downtimed,
.item_hostgroup_in_downtime,
.item_hostgroup_downtimed,
.item_realm_in_downtime,
.item_realm_downtimed,
.item_historyDowntimeAdd,
.item_historyDowntimeProcessed,
.item_historyDowntimeDelete,
.item_historyMonitoringDowntimeStart,
.item_historyMonitoringDowntimeCancelled,
.item_historyMonitoringDowntimeEnd,
.sunflower { color: #f1c40f !important; }

.item_host_acknowledged,
.item_service_acknowledged,
.item_hostgroup_acknowledged,
.item_realm_acknowledged,
.item_logcheckresult_acknowledged,
.item_historyAckAdd,
.item_historyAckProcessed,
.item_historyAckDelete,
.orange { color: #f39c12 !important; }

/* Oranges */
.item_close,
.item_inactive,
.sla_hosts_warning,
.sla_services_warning,
.item_hostgroup_warning,
.item_realm_warning,
.item_host_warning,
.item_service_warning,
.item_logcheckresult_warning,
.carrot { color: #e67e22; }
.pumpkin { color: #d35400; }

/* Reds */
.item_hostgroup_critical,
.item_realm_critical,
.item_alignakdaemon_down,
.item_alignakdaemon_critical,
.item_host_down,
.item_host_critical,
.item_service_critical,
.sla_hosts_critical,
.sla_services_critical,
.item_logcheckresult_down,
.item_logcheckresult_critical,
.alizarin { color: #e74c3c; }
.item_historyMonitoringAlert,
.item_historyMonitoringEventHandler,
.pomegranate { color: #c0392b; }

/* Whites */
.clouds { color: #ecf0f1; }
.item_realm_nope,
.item_hostgroup_nope,
.item_host_nope,
.item_service_nope,
.silver { color: #bdc3c7; }

/* Grays */
.concrete { color: #95a5a6; }
.asbestos { color: #7f8c8d; }


/*
 * Tables row background depending upon items states
 */
.table-row-ok,
.table-row-up {
    background-color: #E6FAF5 !important;
}

.table-row-warning,
.table-row-unreachable {
    background-color: #FDF7F1 !important;
}

.table-row-critical,
.table-row-down {
    background-color: #FDF4F3 !important;
}

.table-row-unknown,
    background-color: #F2F7FA !important;
}

.table-row-unreachable {
    background-color: #F1EBF8 !important;
}

.table-row-acknowledged {
    background-color: #FEF9F0 !important;
}

.table-row-downtimed {
    background-color: #FEFBF0 !important;
}

.table-row-greyed {
    background-color: #f5f5f0 !important;
}
