/*  Flat color palette downloaded from
 *  http://htmlcolorcodes.com/color-charts/
 *
 * Items states classes used to colour icons ...
 */

/* Teals */
.turquoise { color: #1abc9c; }
.item_user,
.item_hostgroup_unknown,
.item_realm_unknown,
.green-sea { color: #16a085; }

/* Greens */
.item_active,
.emerald { color: #2ecc71; }
.item_open,
.sla_hosts_ok,
.sla_services_ok,
.item_daemon_up,
.item_host_up,
.item_host_ok,
.item_service_ok,
.item_logcheckresult_up,
.item_logcheckresult_ok,
.item_hostgroup_ok,
.item_realm_ok,
.nephritis { color: #27ae60; }

/* Blues */
.item_unknown,
.peter-river { color: #3498db; }
.item_service_unknown,
.item_logcheckresult_unknown,
.belize-hole { color: #2980b9; }

/* Purples */
.item_hostgroup_in_downtime,
.item_realm_in_downtime,
.item_host_in_downtime,
.item_service_in_downtime,
.item_logcheckresult_in_downtime,
.item_historyCheckRequest,
.item_historyCheckRequested,
.item_historyAckAdd,
.item_historyAckProcessed,
.item_historyAckDelete,
.amethyst { color: #9b59b6; }
.item_historyDowntimeAdd,
.item_historyDowntimeProcessed,
.item_historyDowntimeDelete,
.sla_hosts_problems,
.sla_services_problems,
.wisteria { color: #8e44ad; }

/* Blacks */
.item_command,
.item_timeperiod,
.wet-asphalt { color: #34495e; }
.midnight-blue { color: #2c3e50; }

/* Yellows */
.sunflower,
.item_historyCheckResult
 { color: #f1c40f; }
.orange { color: #f39c12; }

/* Oranges */
.item_hostgroup_warning,
.item_realm_warning,
.item_close,
.item_inactive,
.sla_hosts_warning,
.sla_services_warning,
.item_daemon_unreachable,
.item_host_unreachable,
.item_host_warning,
.item_logcheckresult_unreachable,
.item_service_warning,
.item_logcheckresult_warning,
.carrot { color: #e67e22; }
.pumpkin { color: #d35400; }

/* Reds */
.item_hostgroup_critical,
.item_realm_critical,
.item_daemon_down,
.item_host_down,
.item_host_critical,
.item_service_critical,
.sla_hosts_critical,
.sla_services_critical,
.item_logcheckresult_down,
.item_logcheckresult_critical,
.alizarin { color: #e74c3c; }
.pomegranate { color: #c0392b; }

/* Whites */
.clouds { color: #ecf0f1; }
.silver { color: #bdc3c7; }

/* Grays */
.item_hostgroup_acknowledged,
.item_realm_acknowledged,
.item_host_acknowledged,
.item_service_acknowledged,
.item_logcheckresult_acknowledged,
.concrete { color: #95a5a6; }
.asbestos { color: #7f8c8d; }


/*
 * Tables row background depending upon items states
 */
.table-row-ok,
.table-row-up {
    background-color: #e6ffe6 !important;
}

.table-row-warning,
.table-row-unreachable {
    background-color: #fff5e6 !important;
}

.table-row-critical,
.table-row-down {
    background-color: #ffe6e6 !important;
}

.table-row-unknown,
.table-row-pending {
    background-color: #e6f2ff !important;
}

.table-row-ack,
.table-row-downtime {
    background-color: #ffe6ff !important;
}

.table-row-greyed {
    background-color: #f5f5f0 !important;
}
